[Desktop Entry]
Categories=Game;StrategyGame;
Keywords=Game;Strategy;
Exec=oneko
Icon=com.daidouji.oneko
Name=oneko
Terminal=false
Type=Application
Comment=Kitty that follows your mouse pointer toy on desktop
